body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}

.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;

}

.half-width img{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.top-banner{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 680px;
}
.link{
    text-decoration: none;
    background-image:linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
.link-1{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
}
#pa{
    
}
.dream-area{
    background-image: url(../developer-portfolio/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.org-highlight{
    color: orange;   
}
.card{
    box-shadow: 10px 10px 40px gray ;
    padding: 2%;
    height: 350px;
    text-align: justify;
    background-color: white;
}
.ex-area{
    background-image: url(../developer-portfolio/img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid ;
    border-image: linear-gradient(lightSalmon,tomato);
    border-image-slice:1 ;
}
#baby{
    border-left: 7px solid ;
    border-image: linear-gradient(rgb(73, 12, 187),tomato);
    border-image-slice:1 ;
}
footer{
    text-align: center;
    font-size: 10px;
}